.hr_border{
    border: 4px solid goldenrod;
}
.display_border{
    border:5px solid goldenrod;
}
@media only screen and (max-width:576px) {
    .s_button{
        margin-top: 8px;
    }
    .b1{
        width:70%;
    }
    .b2{
        margin-left:10px;
        margin-right:0px;
        width: 95%;

    }
    
}
@media only screen and (min-width:577px) {
    .b1{
        width:25%;
        margin-top:20px ;
    }
    .b2{
        margin-left: 15px;
    }
}